<div class="content">
	<div class="row">
		<div class="col">
			Zone name : {{fence.range.name || 'N/A'}}
		</div>
	</div>
	<div class="row">
		<div class="col">
			Radius: {{fence.range.value}} {{fence.range.units}}
		</div>
	</div>
	<div class="row">
		<div class="col">
			Emailing to :<br>
			<span style='font-size: smaller;'>{{fence.emails[0]}}</span> <br>
			<span style='font-size: smaller;'>{{fence.emails[1]}}</span> <br>
			<span style='font-size: smaller;'>{{fence.emails[2]}}</span> <br>
			<span style='font-size: smaller;'>{{fence.emails[3]}}</span> <br>
			<span style='font-size: smaller;'>{{fence.emails[4]}}</span>
		</div>
	</div>
</div>