1. Safe immobilization requires a professional installation that assures that the vehicle disabling is correctly controlled by device's Output 1.
If you are not sure of your installation or have never run a controlled test, <b>DO NOT PROCEED</b>.
<br/><br/>
2. Safe immobilization is designed to <b>MINIMIZE</b> the risks of a vehicle accident when doing this operation, <b>BUT IT CAN NOT ASSURE A RISK-FREE ENGINE DISABLE</b>.
The app owners do not assume any responsibility, and shall not be liable of any damages caused to <b>PERSONS</b>, vehicles or any other asset when doing this operation.
By proceeding you assume the responsibility of this operation hence releasing and discharging the app owners of any liability caused by it.
<br/><br/>
3. Finally, <b>DO NOT PROCEED</b> if you do not fully understand the risks involved in disabling the engine of a vehicle in motion.
